/**
 * WPadmin custom theme
 *
 * @package RosarioSIS
 * @subpackage assets/themes
 */

/* Import WPadmin style (already includes colors.css & jscalendar & colorbox) */

@import url("../FlatSIS/stylesheet.css");

/*****************
* THEMESPX COLORS
* based on EDM colors
*******************/

:root {
    --background: rgb(254, 251, 243);
    --gradient-start: rgb(29, 37, 63);
    --gradient-end: rgb(46, 55, 92); 
    --entete: rgb(50, 62, 101);
    --entete2: rgb(0, 0, 40);
}

#menu-top select:focus, a:focus { color: var(--entete2); font-weight:bolder; outline: none; }

a:active, a:hover, #footer { background-color: var(--entete2); }

#footer .BottomButton:active, #footer .BottomButton:hover{ color:var(--background); font-weight:bolder; border-bottom: 5px solid var(--background); }

select:hover, select:active{ border-bottom: 2px solid var(--entete2); }

select:focus{ border-bottom: 2px solid #aaa;}

body, html{background: var(--background);}

/* Menu */
.wp-submenu, #menu { background: linear-gradient(var(--gradient-start)0%, var(--gradient-end)90%);} 

#menu-top select { 
    border-bottom: 1px solid var(--background); 
    border-left: 1 px solid var(--background); 
    background-color: var(--entete2); 
    color: var(--background); 
}

#menu-top select:active, #menu-top select:hover, #menu-top select:focus {
    background-color: var(--background); 
    color: var(--entete2); 
    border-bottom-color: 
    var(--background);
}

.menu-top, .adminmenu{background: transparent;}

#selectedModuleLink {
    background: var(--entete2); 
    font-weight: bolder; 
    color: var(--background); 
    border-left: 2px solid var(--background); 
}

a.menu-top:focus, a.menu-top:hover, #selectedMenuLink, .wp-submenu a:focus, .wp-submenu a:hover{ 
    background: var(--entete2); 
    font-weight: bolder; 
    color: var(--background); 
    border-left: 2px solid var(--background); 
}

.menu-inter{border-color: var(--background); }

.adminmenu a { color: rgb(184, 219, 231); }

.header2{ background: var(--background);     border-bottom: 1px solid #dfdfdf;    border-top: 1px solid #dfdfdf; }

a{color: var(--entete);}

a:hover{color: var(--background); background: var(--entete);}

a.button-primary, button.button-primary, input.button-primary {background:var(--entete); color: white;}

.button-primary:hover, .button-primary:active{background:var(--entete2); color: var(--background); font-weight: bolder;}

.widefat tr:hover { background: var(--background);}

/**
* Cacher les éléments inutiles
*/

/* ÉPREUVES: Teacher cannot add or suppr an ASSIGNMENT type. */

.assignment-types .list a[href*="assignment_type_id=new"], 

#body > form[action*="modname=Grades/Assignments.php&table=gradebook_assignment_types"] > table:nth-child(3) > tbody > tr > td.header2 { display: none; }

#body > form[action*="modname=Grades/Assignments.php&table=gradebook_assignment_types"] > table:nth-child(1) > tbody > tr > td.header2.align-right 
> input[type=button]:nth-child(1) { display: none; }

#body > form[action*="modname=Grades/Assignments.php&table=gradebook_assignment_types"] > table:nth-child(2) > tbody > tr > td { display: none; }

/* NOTES: Hide labels */

#body > form[action*="Grades/Grades.php"] > div.list-outer.students > div > div > table > tbody > tr > td > label { display: none; }

form[action*="Grades/Grades.php"] > div.list-outer.students > div > div > table > tbody > tr > td > label + span { display: none; }

/*#body > form[action*="Grades/Grades.php"] > div > div > div > table > tbody > tr > td:nth-child(2) { display: none; }
.list-column-points { display: none; }*/

/* APPRÉCIATIONS: Teacher cannot modify the final notes. */

/* .header2 a[href*="modfunc=gradebook&mp="] { display: none; }

.header2 a[href*="modfunc=clearall"] { display: none; }

.span-grade-points + label, .span-grade-points + label + span { display: none; } */


